.recipes li{
  border: 2px dashed black;
  list-style-type: none;
  height: 42vh;
  margin-top: 20px;
}
/*.recipes li div:first-child{
    height: 100%;
    background-color: lightgoldenrodyellow;
}*/

.recipe-image {
	border: 1px sold salmon;
}

.recipe-border {
	margin: 5px auto;
	border: 5px solid dodgerblue;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

/* this is a hack that centers the recipe time number in the recipe-border div */
.recipe-border:before {
	display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.recipe-time {
	vertical-align: middle;
	font-size: 18px;
}
/* without this the number stays at the top of the recipe border div instead of the center */