body{
    /*background-image: url("https://s-media-cache-ak0.pinimg.com/736x/cd/50/00/cd5000a8e0fbb2620c7a61350490b3cc.jpg");*/
    /*background-position: center bottom;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
}
.mainSearch{
    position: absolute;
    top: 26vh;
    left: 15%;
}
.buttonWrap{
    position: absolute;
    top: 26vh;
    left: 64%;
}
